# Data
data/
*.csv

# Model files
models/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Jupyter notebooks
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/